<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hfad.beeradviser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hfad.catchat.FeedbackActivity">
        </activity>
        <activity android:name="com.hfad.catchat.HelpActivity">
        </activity>
        <activity android:name="com.hfad.catchat.Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.hfad.bitsandpizzas.PizzaDetailActivity"
            android:parentActivityName="com.hfad.bitsandpizzas.MainActivity">
        </activity>
        <activity android:name="com.hfad.workout.TempActivity">
        </activity>
        <activity android:name="com.hfad.workout.DetailActivity">
        </activity>
        <activity android:name="com.hfad.workout.Main2Activity">
        </activity>
        <activity
            android:name="com.hfad.bitsandpizzas.OrderActivity"
            android:label="@string/create_order"
            android:parentActivityName="com.hfad.bitsandpizzas.MainActivity">
        </activity>
        <activity android:name="com.hfad.bitsandpizzas.MainActivity">
        </activity>
        <activity android:name=".DrinkActivity">
        </activity>
        <activity android:name=".DrinkCategoryActivity">
        </activity>
        <activity android:name=".TopLevelActivity">
        </activity>
        <activity android:name=".FindBeerActivity">
        </activity>
    </application>

</manifest>